<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.catbattle">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.CatBattle">
        <activity android:name=".getMoney"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".master_state"
            android:screenOrientation="portrait"/>
        <activity android:name=".master_skill"
            android:screenOrientation="portrait"/>
        <activity android:name=".hard_state"
            android:screenOrientation="portrait"/>
        <activity android:name=".hard_skill"
            android:screenOrientation="portrait"/>
        <activity android:name=".normal_state"
            android:screenOrientation="portrait"/>
        <activity android:name=".normal_skill"
            android:screenOrientation="portrait"/>
        <activity android:name=".easy_state"
            android:screenOrientation="portrait"/>
        <activity android:name=".easy_skill"
            android:screenOrientation="portrait"/>
        <activity android:name=".master"
            android:screenOrientation="portrait"/>
        <activity android:name=".hard"
            android:screenOrientation="portrait"/>
        <activity android:name=".normal"
            android:screenOrientation="portrait"/>
        <activity android:name=".easy"
            android:screenOrientation="portrait"/>
        <activity android:name=".battle_main"
            android:screenOrientation="portrait"/>
        <activity android:name=".change_character"
            android:screenOrientation="portrait"/>
        <activity android:name=".gacha10"
            android:screenOrientation="portrait"/>
        <activity android:name=".gacha1"
            android:screenOrientation="portrait"/>
        <activity android:name=".character12_skill3_rankup"
            android:screenOrientation="portrait"/>
        <activity android:name=".character12_skill2_rankup"
            android:screenOrientation="portrait"/>
        <activity android:name=".character12_skill1_rankup"
            android:screenOrientation="portrait"/>
        <activity android:name=".character11_skill3_rankup"
            android:screenOrientation="portrait"/>
        <activity android:name=".character11_skill2_rankup"
            android:screenOrientation="portrait"/>
        <activity android:name=".character11_skill1_rankup"
            android:screenOrientation="portrait"/>
        <activity android:name=".character10_skill3_rankup"
            android:screenOrientation="portrait"/>
        <activity android:name=".character10_skill2_rankup"
            android:screenOrientation="portrait"/>
        <activity android:name=".character10_skill1_rankup"
            android:screenOrientation="portrait"/>
        <activity android:name=".character9_skill3_rankup"
            android:screenOrientation="portrait"/>
        <activity android:name=".character9_skill2_rankup"
            android:screenOrientation="portrait"/>
        <activity android:name=".character9_skill1_rankup"
            android:screenOrientation="portrait"/>
        <activity android:name=".character8_skill3_rankup"
            android:screenOrientation="portrait"/>
        <activity android:name=".character8_skill2_rankup"
            android:screenOrientation="portrait"/>
        <activity android:name=".character8_skill1_rankup"
            android:screenOrientation="portrait"/>
        <activity android:name=".character7_skill3_rankup"
            android:screenOrientation="portrait"/>
        <activity android:name=".character7_skill2_rankup"
            android:screenOrientation="portrait"/>
        <activity android:name=".character7_skill1_rankup"
            android:screenOrientation="portrait"/>
        <activity android:name=".character6_skill3_rankup"
            android:screenOrientation="portrait"/>
        <activity android:name=".character6_skill2_rankup"
            android:screenOrientation="portrait"/>
        <activity android:name=".character6_skill1_rankup"
            android:screenOrientation="portrait"/>
        <activity android:name=".character5_skill3_rankup"
            android:screenOrientation="portrait"/>
        <activity android:name=".character5_skill2_rankup"
            android:screenOrientation="portrait"/>
        <activity android:name=".character5_skill1_rankup"
            android:screenOrientation="portrait"/>
        <activity android:name=".character4_skill3_rankup"
            android:screenOrientation="portrait"/>
        <activity android:name=".character4_skill2_rankup"
            android:screenOrientation="portrait"/>
        <activity android:name=".character4_skill1_rankup"
            android:screenOrientation="portrait"/>
        <activity android:name=".character3_skill3_rankup"
            android:screenOrientation="portrait"/>
        <activity android:name=".character3_skill2_rankup"
            android:screenOrientation="portrait"/>
        <activity android:name=".character3_skill1_rankup"
            android:screenOrientation="portrait"/>
        <activity android:name=".character2_skill3_rankup"
            android:screenOrientation="portrait"/>
        <activity android:name=".character2_skill2_rankup"
            android:screenOrientation="portrait"/>
        <activity android:name=".character2_skill1_rankup"
            android:screenOrientation="portrait"/>
        <activity android:name=".character1_skill3_rankup"
            android:screenOrientation="portrait"/>
        <activity android:name=".character1_skill2_rankup"
            android:screenOrientation="portrait"/>
        <activity android:name=".character1_skill1_rankup"
            android:screenOrientation="portrait"/>
        <activity android:name=".character12_rankup"
            android:screenOrientation="portrait"/>
        <activity android:name=".character11_rankup"
            android:screenOrientation="portrait"/>
        <activity android:name=".character10_rankup"
            android:screenOrientation="portrait"/>
        <activity android:name=".character9_rankup"
            android:screenOrientation="portrait"/>
        <activity android:name=".character8_rankup"
            android:screenOrientation="portrait"/>
        <activity android:name=".character7_rankup"
            android:screenOrientation="portrait"/>
        <activity android:name=".character6_rankup"
            android:screenOrientation="portrait"/>
        <activity android:name=".character5_rankup"
            android:screenOrientation="portrait"/>
        <activity android:name=".character4_rankup"
            android:screenOrientation="portrait"/>
        <activity android:name=".character3_rankup"
            android:screenOrientation="portrait"/>
        <activity android:name=".character2_rankup"
            android:screenOrientation="portrait"/>
        <activity android:name=".character1_rankup"
            android:screenOrientation="portrait"/>
        <activity android:name=".character12_skill3"
            android:screenOrientation="portrait"/>
        <activity android:name=".character12_skill2"
            android:screenOrientation="portrait"/>
        <activity android:name=".character12_skill1"
            android:screenOrientation="portrait"/>
        <activity android:name=".character11_skill3"
            android:screenOrientation="portrait"/>
        <activity android:name=".character11_skill1"
            android:screenOrientation="portrait"/>
        <activity android:name=".character11_skill2"
            android:screenOrientation="portrait"/>
        <activity android:name=".character10_skill3"
            android:screenOrientation="portrait"/>
        <activity android:name=".character10_skill2"
            android:screenOrientation="portrait"/>
        <activity android:name=".character10_skill1"
            android:screenOrientation="portrait"/>
        <activity android:name=".character9_skill3"
            android:screenOrientation="portrait"/>
        <activity android:name=".character9_skill2"
            android:screenOrientation="portrait"/>
        <activity android:name=".character9_skill1"
            android:screenOrientation="portrait"/>
        <activity android:name=".character8_skill3"
            android:screenOrientation="portrait"/>
        <activity android:name=".character8_skill2"
            android:screenOrientation="portrait"/>
        <activity android:name=".character8_skill1"
            android:screenOrientation="portrait"/>
        <activity android:name=".character7_skill3"
            android:screenOrientation="portrait"/>
        <activity android:name=".character7_skill2"
            android:screenOrientation="portrait"/>
        <activity android:name=".character7_skill1"
            android:screenOrientation="portrait"/>
        <activity android:name=".character6_skill3"
            android:screenOrientation="portrait"/>
        <activity android:name=".character6_skill2"
            android:screenOrientation="portrait"/>
        <activity android:name=".character6_skill1"
            android:screenOrientation="portrait"/>
        <activity android:name=".character5_skill3"
            android:screenOrientation="portrait"/>
        <activity android:name=".character5_skill2"
            android:screenOrientation="portrait"/>
        <activity android:name=".character5_skill1"
            android:screenOrientation="portrait"/>
        <activity android:name=".character4_skill3"
            android:screenOrientation="portrait"/>
        <activity android:name=".character4_skill2"
            android:screenOrientation="portrait"/>
        <activity android:name=".character4_skill1"
            android:screenOrientation="portrait"/>
        <activity android:name=".character3_skill3"
            android:screenOrientation="portrait"/>
        <activity android:name=".character3_skill2"
            android:screenOrientation="portrait"/>
        <activity android:name=".character3_skill1"
            android:screenOrientation="portrait"/>
        <activity android:name=".character2_skill3"
            android:screenOrientation="portrait"/>
        <activity android:name=".character2_skill2"
            android:screenOrientation="portrait"/>
        <activity android:name=".character2_skill1"
            android:screenOrientation="portrait"/>
        <activity android:name=".character1_skill3"
            android:screenOrientation="portrait"/>
        <activity android:name=".character1_skill2"
            android:screenOrientation="portrait"/>
        <activity android:name=".character12_growth"
            android:screenOrientation="portrait"/>
        <activity android:name=".character11_growth"
            />
        <activity android:name=".character10_growth"
            android:screenOrientation="portrait"/>
        <activity android:name=".character9_growth"
            android:screenOrientation="portrait"/>
        <activity android:name=".character8_growth"
            android:screenOrientation="portrait"/>
        <activity android:name=".character7_growth"
            android:screenOrientation="portrait"/>
        <activity android:name=".character6_growth"
            android:screenOrientation="portrait"/>
        <activity android:name=".character5_growth"
            android:screenOrientation="portrait"/>
        <activity android:name=".character4_growth"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".character3_growth"
            android:label="@string/title_activity_character3_growth"
            android:theme="@style/Theme.CatBattle.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".character2_growth"
            android:screenOrientation="portrait"/>
        <activity android:name=".character1_skill1"
            android:screenOrientation="portrait"/>
        <activity android:name=".character1_growth"
            android:screenOrientation="portrait"/>
        <activity android:name=".gacha"
            android:screenOrientation="portrait"/>
        <activity android:name=".team"
            android:screenOrientation="portrait"/>
        <activity android:name=".character"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>